.left-container{
  background-image: linear-gradient(#6441fd, #4835f1);
  
}

.right-container{
  box-shadow: 10px 10px 10px #f4f7fe ;
}

.shape{
  background-image: linear-gradient(#471fc8, #4835f1);

}